* {
  font-weight: lighter;
}
@media only screen and (max-width: 600px) {
  .main-wrapper {
    width: 80% !important;
  }
}
@media only screen and (max-width: 476px) {
  .main-wrapper {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1124px) {
  .main-wrapper {
    width: 70% !important;
  }
}
.title {
  font-size: 58px;
  line-height:55px;
  text-wrap: wrap;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}