* {
  font-weight: lighter;
}
@media only screen and (max-width: 600px) {
  .main-wrapper {
    width: 80% !important;
  }
}
@media only screen and (max-width: 476px) {
  .main-wrapper {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1124px) {
  .main-wrapper {
    width: 70% !important;
  }
}
.title {
  font-size: 58px;
  line-height:55px;
  text-wrap: wrap;
}


.card {
  border-color: black;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}


.gamebutton{
  height: 50px;
  width: 200px;
  background-color: #020202;
  color: #f9f9f9;
  font-family: "Archivo Black", sans-serif;
  border: none;
  transition: ease-in-out 0.3s;
  width: 100%;
}